ul {
    list-style: none;
  }

.header {
    background-color: #0aaff1;
    padding-bottom: 120px;
    padding-top: 10px;
}
.navigation {
    width: 65%;
    margin: auto;
}

.navBrand {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: #ffffff !important;
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
    color: #f0f0f0!important;
}

.active {
    color: #d1eafd !important;
}

.pageTitle {
    text-align: center;
    position: relative;
    bottom: 65px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.contentContainer {
    width: 65%;
    margin: auto;
    margin-bottom: 50px;
}

.portfolioLink {
    color:#ee9b1e !important;
    text-align: center !important;
    margin-top: 20px;
}

#portfolioLink {
    color:#ee9b1e !important;
}

#portfolioLink:hover {
    color: #0aaff1 !important
}

.experience {
    text-align: center;
}

.btn {
    background-color: #ee9b1e;
    width: 120px;
    border: none;
}
.btn:hover {
    background-color: #0aaff1;
}

.contactForm {
    width: 40%;
    margin: auto;
}

.inLogo {
    display: inline-block;
    float: right;
}

.footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #204b7c;
    margin-top: 10px;
}

.footerNote{
    color: #ffffff;
    text-align: center;
    margin-top: 8px;
}