<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/_layouts/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
    <title>Brian J Lynch</title>
</head>

<body>
    <div class="header" id="header">
        <div class="navigation">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html">
                    <h3 class="navBrand">Brian J Lynch</h3>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="portfolio.html">My Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="contact.html">Contact Me</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="title">
        <h2 class="pageTitle">Shoot me a message</h2>
    </div>
    <div class="contentContainer">
        <div class="contactForm">
            <form id="contact-form" method="post" action="assets/form/form.php">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label>Email Address:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label>Subject:</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary submit">Submit</button>
                <a href="https://www.linkedin.com/in/brian-lynch-aa0baa90/" target="_blank"><img class="inLogo" src="assets/images/inLogo.png"
                        width="36px" height="36px"></a>
            </form>
        </div>
    </div>
    <div class="footer">
        <p class="footerNote">Designed by Brian Lynch</p>
    </div>
</body>

</html>